{% extends "base.twig" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
    <div class="merci-container text-center p-5 rounded shadow-lg bg-white col-12 col-md-8 col-lg-6">
        <h1 class="mb-4">Merci de nous avoir contactés !</h1>
        <p class="mb-4">Nous avons bien reçu votre message et nous vous répondrons dans les plus brefs délais.</p>
        <a href="index.php?uc=accueilfid" class="merci-btn btn btn-primary w-100">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}
